# Node / Build
node_modules/
dist/
build/
coverage/
*.log
npm-debug.log*

# Yarn Berry
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/patches
!.yarn/sdks

# PnP (wir nutzen nodeLinker=node-modules; falls du PnP nutzt, entfernen)
.pnp.*
.pnp.loader.mjs

# Editor & System
.vscode/
.idea/
.DS_Store
Thumbs.db

# Env
.env
.env.*
